// Variables

$primary: #66777e;
$highlight-one: #d23628;
$highlight-two: #8378cc;
$body-bg: #fafafa;
$body-color: #000000;
$headerFont: 'Inconsolata', monospace;
$bodyFont: 'Open Sans', sans-serif;

// Imports

@import 'partials/normalize';
@import 'partials/globals';
@import 'partials/header';
@import 'partials/home';
@import 'partials/_authForm';
@import 'partials/dashboard';
@import 'partials/applicationList';
@import 'partials/dashStats';
@import 'partials/inputForm';
@import 'partials/editForm';
@import 'partials/footer';
