// Variables

/*
font-family: 'Inconsolata', monospace;
font-family: 'Open Sans', sans-serif;
*/ 

$primary: #6e7a7f;
$highlight-one: #d1c9eb;
$highlight-two: #cab8bb;
$highlight-three: #465757;
$body-bg: #fafafa;
$headerFont: 'Inconsolata', monospace;
$bodyFont: 'Open Sans', sans-serif;

// Imports

@import 'partials/normalize';
@import 'partials/globals';
@import 'partials/header';