/* APPLICATION LIST */

.application-list-filter {
    background: $primary;
    color: #ffffff;
    padding: 8px 16px;

    select {
        background: #ffffff;
        text-transform: lowercase;
    }
    
}

.filter-label {
    float: left;
    margin: 2px 0 0 0;
}

.filter-select {
    float: right;
}

.application-list {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        background: #ffffff;
        border-color: $primary;
        border-style: solid;
        border-width: 0 0 1px 0;
        .applicationText {
            float: left;
            width: 80%;
        }
        .next {
            float: right;
            margin-top: 15px;
            i {
                font-size: 4rem;
                
            }
        }

        @include media(481px) {
            float: left;
            width: calc(50% - (15px / 2));
            height: 200px;
            overflow: hidden;
            border: none;
            margin: 5px 5px 0 5px;
            border-radius: 3px;
            box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
            .next {
                margin-top: 64px;
            }

            &:nth-child(2n) {
                margin-left: 0;
            }
        }

        @include media(769px) {
            width: calc(33.33% - (20px / 3));

            &:nth-child(3n+1) {
                margin-left: 5px;
            }

            &:nth-child(3n+2) {
                margin-left: 0;
            }
            &:nth-child(3n) {
                margin-left: 0;
            }
        }

        @include media(1101px) {
            &:nth-child(3n+1) {
                border-left-width: 1px;
            }
            &:nth-child(3n) {
                border-right-width: 1px;
            }
        }
    }
    
    a {
        text-decoration: none;
        display: block;
        height: 100%;
        padding: 16px;
    }

    h2 {
        font: {
            size: 2.4rem;
            weight: 700;
        }
        margin: 0;
        color: $body-color;
    }

    p {
        color: $body-color;
        margin: 0.4rem 0 0 0;
    }
}

.list-company-name {
    font-weight: 700;
}

.list-last-changed {
    font-weight: 300;

    &-date {
        color: $highlight-two;
        font-weight: 700;
    }
}