/* APPLICATION LIST */

.application-list-filter {
    background: $primary;
    color: #ffffff;
    padding: 8px 16px;

    select {
        background: #ffffff;
        text-transform: lowercase;
    }
    
}

.filter-label {
    float: left;
    margin: 2px 0 0 0;
}

.filter-select {
    float: right;
}

.application-list {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        background: #ffffff;
        border-color: $primary;
        border-style: solid;
        border-width: 0 0 1px 0;

        @include media(481px) {
            float: left;
            width: 50%;
            height: 150px;
            overflow: hidden;
            border-width: 0 1px 1px 0;

            &:nth-child(2n) {
                border-right-width: 0;
            }
        }

        @include media(769px) {
            width: 33.33%;

            &:nth-child(2n) {
                border-right-width: 1px;
            }
            &:nth-child(3n) {
                border-right-width: 0;
            }
        }

        @include media(1101px) {
            &:nth-child(3n+1) {
                border-left-width: 1px;
            }
            &:nth-child(3n) {
                border-right-width: 1px;
            }
        }
    }
    
    a {
        text-decoration: none;
        display: block;
        height: 100%;
        padding: 16px;
    }

    h2 {
        font: {
            size: 2.4rem;
            weight: 700;
        }
        margin: 0;
        color: $body-color;
    }

    p {
        color: $body-color;
        margin: 0.4rem 0 0 0;
    }
}

.list-company-name {
    font-weight: 700;
}

.list-last-changed {
    font-weight: 300;

    &-date {
        color: $highlight-two;
        font-weight: 700;
    }
}