/* AUTH FORM */

.fullscreen-shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh + 16px);
    background: rgba(0,0,0,0.7);
    z-index: 60;
}

.auth-modal {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 70;
    padding: 32px;
    background: $body-bg;
    width: 100%;
    max-width: 465px;
    border-radius: 5px;

    h2 {
        margin-top: 0;
        font: {
            family: $headerFont;
        }
        text-align: center;
    }
    
    label,
    input {
        display: block;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    label {
        margin-bottom: 0.6rem;
    }

    input{
        font-size: 1.5rem;
        padding: 1rem; 
        background: darken($body_bg, 5%);
        border: none; 
        border-radius: 3px;
    }
    
    .input-group {
        margin: 1.6rem 0;
    }

    button {
        display: block;
        margin: 24px auto 0;
        background: $highlight-two;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        padding: 10px;
    }
}

.close-modal-control {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 10px;
    font-size: 2rem;
    color: $body-color;
}
