// dashStats
.dashStats{
    @include media(575px){
        padding: 2rem 0;
    }
    @include media(875px){
        padding: 3rem 0;
    }
    ul{
        list-style: none;
        padding: 1.5rem 0;
        margin: 0;
    }
    li{
        display: inline-block;
        width: 33.33%;
        height: 5rem;
        text-align: center;
        h2{
            border-radius: 50%;
            width: 10rem;
            height: 10rem;
            line-height: 10rem;
            font-size: 5rem;
            color: white;
            margin: 0 auto;
            background: $highlight_two;
            background: linear-gradient(-45deg, $highlight-two, darken($highlight-two, 5%));
            text-shadow: 2px 2px darken($highlight-two, 30%); 
            @include media(575px){
                width: 15rem;
                height: 15rem;
                line-height: 15rem;
                font-size: 7.5rem;
                text-shadow: 4px 4px darken($highlight-two, 30%);                 
            }
            @include media(875px){
                width: 20rem;
                height: 20rem;
                line-height: 20rem;
                font-size: 10rem;
                text-shadow: 5px 5px darken($highlight-two, 30%); 
            }
        }
    }
    h3{
        font-size: 1.25rem;
        width: 9rem;
        margin: 0 auto;
        padding-top: .5rem; 
        @include media(575px){
            font-size: 2rem;  
            width: 14rem;  
            padding-top: 1.5rem;                     
        } 
        @include media(875px){
            padding-top: 2.5rem;
            width: 100%;          
        }       
    }
}