/* DASHBOARD */

.create-application {
    display: block;
    color: #ffffff;
    background: linear-gradient(-45deg, $highlight-one, lighten($highlight-one, 10%));;
    width: 4.5em;
    height: 4.5em;
    border-radius: 50%;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 10;
    .fa {
        font-size: 2em;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -45%);
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    }
}

.dashboard-welcome {
    padding: 0 16px;
    text-align: center;
    padding-top: 32px;

    h2 {
        font: {
            size: 3.2rem;
            weight: 700;
        }
        margin-top: 0;
    }

    ol {
        counter-reset: welcome-counter;
        padding: 0;
    }

    li {
        list-style: none;
        position: relative;
        margin: 24px auto;
        max-width: 400px;

        &::before {
            content: counter(welcome-counter);
            counter-increment: welcome-counter;
            display: block;
            width: 2em;
            padding: 10.5px 0;
            border-radius: 50%;
            background: $highlight-two;
            color: #ffffff;
            font: {
                size: 3.2rem;
                weight: 700;
            }
            margin: 0 auto 1.6rem auto;
            
            
            @include media (481px) {
                position: absolute;
                left: -24px;
                top: -17px
            }
        }

        @include media (481px) {
            margin: 56px auto;
        }
    }

    button{
        display: inline-block;
        background: $highlight_one;
        color: white;
        border: none;
        border-radius: 3px;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 1.5rem 2.5rem;
        margin-top: 2rem;
        margin-bottom: 4rem;
        box-shadow: 0 .5rem darken($highlight_one, 15%); 
        transition: .3s;
        &:hover{
            transform: translateY(.5rem);
            box-shadow: 0 0 darken($highlight_one, 15%);             
        }
    }
}