/* DASHBOARD */

.create-application {
    display: block;
    color: white;
    background: $highlight_one;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    position: fixed;
    bottom: 5.5rem;
    right: 5%;
    z-index: 10;
    .fa {
        font-size: 2em;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -45%);
        text-shadow: 0 3px 0 darken($highlight_one, 5%);
    }
}