/* GLOBALS */

// mixins 
@mixin media($width) {
    @media (min-width: #{$width}) {
        @content;
    }
}

@mixin media-max($width) {
    @media (max-width: #{$width}) {
        @content;
    }
}

html {
    font-size: 10px / 16px * 100%;
}

body {
    background: $body-bg;
    color: #000000;
    font: {
        family: $bodyFont;
        size: 1.6rem;
        weight: 400
    }
}

a {
    color: $highlight-two;
}

main {
    padding-top: 70px;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}