/* GLOBALS */

// mixins 
@mixin media($width) {
    @media (min-width: #{$width}) {
        @content;
    }
}

/* to keep footer at bottom of page */
.content {
    min-height: calc(100vh - 5rem);
}

footer {
    height: 5rem;
}

html {
    font-size: 10px / 16px * 100%;
}

body {
    background: $body-bg;
    color: #000000;
    font: {
        family: $bodyFont;
        size: 1.6rem;
        weight: 400
    }
}

a {
    color: $highlight-two;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

input:required{
    box-shadow: none;
}

input::-moz-placeholder{
    opacity: 1;
}