/* HEADER STYLES */ 

header {
    background: $primary;
    width: 100%;
}

.logo {
    float: left;
    width: 80%;
    position: relative;
    z-index: 50;
    background: $primary;
    padding: 16px;
    h1 {
        font-family: $headerFont;
        color: $body-bg;
        font-weight: 400;
        font-size: 3.2rem;
        text-shadow: 0px 1px 1px rgba(0,0,0,0.75);
        margin: 0;
        position: relative;
        span {
            position: relative;
            &::after {
                content: "";
                width: 100%;
                position: absolute;
                border-bottom: 2px solid $body-bg;
                bottom: -2px;
                left: 0;
                box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
            }
        }
    }
    img {
        width: 50px;
        float: left;
    }
    @include media(780px){
        width: 30%;
    }
}

.navNarrow {
    color: $body-bg;
    float: right;
    background: $primary;
    padding: 16px;
    width: 20%;
    .fa-bars {
        font-size: 4rem;
        position: relative;
        z-index: 50;
        float: right;
    }
    .narrowControls {
        position: absolute;
        background: $primary;
        top: -300px;
        width: 100%;
        left: 0;
        transition: all 0.5s ease;
        z-index: 40;
        text-align: center;
        padding: 16px;
    }
    p {
        font-size: 2rem;
    }
    button {
        display: block;
        margin: 16px auto 0;
        background: $body-bg;
        border: none;
        border-radius: 5px;
        padding: 10px;
    }
    @include media(780px) {
        display: none;
    }
}

.navWide {
    display: none;
    padding: 16px;
    color: $body-bg;
    float: right;
    width: 70%;
    p {
        font-size: 2rem;
    }
    .sharingContainer {
        float: left;
        padding: 5px 0;
        p {
            float: left;
            margin: 0 16px 0 0;
        }
        label {
            float: left;
            margin-right: 16px;
        }
    }
    button {
        display: inline-block;
        background: $body-bg;
        border: none;
        border-radius: 5px;
        padding: 10px;
    }
    .signOut {
        float: right;
    }
    @include media(780px) {
        display: block;
    }
}

#sharing-toggle {
    display: none;
    + .sharingLabel {
		outline: 0;
		display: block;
		width: 4em;
		height: 2em;
		position: relative;
		cursor: pointer;
        user-select: none;
        background: #f0f0f0;
		border-radius: 2em;
		padding: 2px;
        transition: all .4s ease;
        margin: 0 auto;
        @include media(780px){
            margin-right: 16px;
        }
		&::after,
        &::before {
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
        }
        &::after {
            left: 0;
            border-radius: 50%;
			background: #fff;
			transition: all .2s ease;
		}
    
		&::before {
			display: none;
        }
    }
    &:checked + .sharingLabel:after {
		left: 50%;
    }
    &:checked + .sharingLabel {
		background: #9FD6AE;
	} 
}

.shareOverlay {
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 100;
}

.shareLink {
    position: absolute;
    top: 73px;
    left: 16px;
    width: calc(100% - 32px);
    padding: 20px 10px;
    background: $body-bg;
    border: 1px solid $primary;
    border-radius: 2px;
    color: $body-color;
    @include media(780px) {
        top: 73px;
    }
    p {
        text-align: left;
        line-height: 1.5;
        margin-top: 5px;
    }
    i {
        font-size: 4rem;
        position: absolute;
        top: -5px;
        right: 0;
        cursor: pointer;
    }
    a {
        color: $body-color;
        overflow-wrap: break-word;
        display: block;
        text-align: center;
        &:hover {
            color: $highlight-one;
        }
    }
}