// form for new application
.newApplicationForm{
    h2{
        font-size: 2rem;
    }
    #titleInput, #linkInput{
        width: 100%;
    }

    .contactInfo{
        label{
            display: inline-block;
            width: 3rem;
        }
        input{
            width: calc(100% - 3rem);
        }
    }
    .dates{
        .date{
            width: 50%;
            display: inline-block;
        }
        input{
            width: 100%;
            font-family: $bodyFont;
        }
    }
}
