// form for new application
.newApplicationForm{
    padding: 2rem;
    position: relative;
    form{
        margin-top: 2.75rem;
    }
    .backToDash{
        font-size: 1.5rem;
        padding-bottom: 1rem;          
        display: block;
        width: 9rem;
        color: darken($body_bg, 65%);
        font-weight: bold;
        text-decoration: none;
        transition: .3s;  
        .fa{
            width: 2.5rem;
            font-size: 1.7rem; 
        }
        &:hover{
            padding-left: .5rem;
        }
    }
    #titleInput{
        width: 100%;
        font-size: 3rem;  
        font-weight: bold;
        margin-bottom: 2rem;
        padding-left: 1.5rem;
    }
    input{
        font-size: 1.5rem;
        padding: 1rem; 
        background: darken($body_bg, 10%);
        border: none; 
        border-bottom: 0 solid $highlight_two;                    
        border-radius: 3px;
        transition: .3s;
        &::placeholder{
            color: darken($body_bg, 65%);
        }
        &:focus{
            border-bottom: 5px solid $highlight_two;            
        }
    }

    .contactInfo{
        label{
            display: inline-block;
            width: 3.25rem;            
        }
        input{
            width: calc(100% - 3.25rem);
            margin-bottom: 1.5rem;
        }
    }
    .dates{  
        .date{
            width: calc(50% - .8rem);
            display: inline-block;
            &:first-of-type{
                margin-right: 1.6rem;
            }
        }
        label{
            margin-bottom: .75rem;
            display: block;
            width: 100%;
            line-height: 1.6rem;
            font-weight: bold;
            color: darken($body_bg, 65%);            
        }
        input{
            width: 100%;
            display: block;
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
            box-shadow: 0 0 $highlight_two;            
            transition: .3s;
            &::placeholder{
                color: darken($body_bg, 65%);
            }
        }
    }
    button{
        margin-top: 6.5rem;
        width: 100%;  
        display: inline-block;
        background: $highlight_one;
        color: white;
        border: none;
        border-radius: 3px;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 1.75rem;
        box-shadow: 0 .75rem darken($highlight_one, 10%); 
        transition: .3s;
        &:hover{
            transform: translateY(.5rem);
            box-shadow: 0 .25rem darken($highlight_one, 10%);             
        }
    }
}
.newFeedback{
    text-align: right;
    margin-top: 2.75rem;    
    margin-bottom: 3.5rem;    
    width: 100%;
    background: $highlight_two;    
    color: white;
    border-radius: 3px;
    padding: 3rem;
    padding-right: 6rem;
    h2, p{
        margin: 0;
    }
    h2{
        font-size: 3rem;
    }
    p{
        padding-top: 1rem;
        padding-bottom: .5rem;
        font-size: 1.5rem;
    }
}
